:root {
  --main-background-color: #85a279;
  --primary-modal-background-color: #fcfcfc;
  --secondary-modal-background-color: rgba(248, 210, 78, 0.1);
  --primary-background-color: #aec6a5;
  --secondary-background-color: #efd478;
  --tertiary-background-color: #d6936d;
  --quaternary-background-color: #f8d24e;
  --quinary-background-color: #0a8817;
  --senary-background-color: #ababab;
  --primary-font-color: #fcfcfc;
  --secondary-font-color: #131313;
  --tertiary-font-color: #fcfcfc;
  --quaternary-font-color: #7a7a7a;
  --quinary-font-color: #907e82;
  --senary-font-color: #d6936d;
  --septenary-font-color: #f8d24e;
  --nonary-font-color: #ababab;
  --denary-font-color: #0a8817;
  --primary-border-color: #96af8c;
  --secondary-border-color: #d6936d;
  --tertiary-border-color: #f8d24e;
  --quaternary-border-color: #0a8817;
  --quinary-border-color: #84a178;
  --primary-icon-color: #f8d24e;
  --secondary-icon-color: #000000;
  --tertiary-icon-color: #84a178;
  --quaternary-icon-color: #131313;
  --quinary-icon-color: #84a178;
  --senary-icon-color: #d9d9d9;
  --line-footer: #e1e1e1;
}
