<section>
  <div class="container">
    <h2 hidden>Advantages</h2>
    <ul>
      <li>
        <figure>
          <p>721</p>
          <figcaption>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <p>16kg</p>
          <figcaption>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</figcaption>
        </figure>
      </li>
      <li>
        <figure>
          <p>84</p>
          <figcaption>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
