<section class="contacts">
  <div class="container">
    <h2 hidden>Contact us</h2>
    <ul class="contacts__section">
      <!-- COLUMN 1 -->
      <li class="contacts__wrapper">
        <ul>
          <li class="contacts__item">
            <p class="contacts__item-title">Cafe</p>
            <p class="contacts__item-text">Chicago</p>
            <a
              href="https://www.google.pl/"
              target="_blank"
              class="contacts__links"
              rel="nofollow noopener noreferrer"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="contacts__item">
            <div class="contacts__item-wrapper">
              <div>
                <p class="contacts__item-text">Monday - Friday</p>
                <p class="contacts__item-time"><time>06:00</time> AM - <time>10:00</time> PM</p>
              </div>
              <div>
                <p class="contacts__item-text">Saturday - Sunday</p>
                <p class="contacts__item-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
              </div>
            </div>
          </li>
          <li class="contacts__item contacts__item--bottom">
            <div class="contacts__links contacts__links--bottom">
              <a href="tel:+610383766284" class="contacts__tel-email">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contacts__tel-email">noreply@envato.com</a>
            </div>
          </li>
        </ul>
      </li>
      <!-- COLUMN 2 -->
      <li class="contacts__wrapper">
        <ul>
          <li class="contacts__item">
            <p class="contacts__item-title contacts__item-title--longer">Foodtruck</p>
            <p class="contacts__item-text">Los Angeles</p>
            <a
              href="https://www.google.pl/"
              target="_blank"
              class="contacts__links contacts__links--longer"
              rel="nofollow noopener noreferrer"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
          <li class="contacts__item">
            <div class="contacts__item-wrapper">
              <div>
                <p class="contacts__item-text">Monday - Friday</p>
                <p class="contacts__item-time"><time>06:00</time> AM - <time>10:00</time> PM</p>
              </div>
              <div>
                <p class="contacts__item-text">Saturday - Sunday</p>
                <p class="contacts__item-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
              </div>
            </div>
          </li>
          <li class="contacts__item contacts__item--bottom">
            <div class="contacts__links contacts__links--bottom">
              <a href="tel:+610383766284" class="contacts__tel-email">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contacts__tel-email">noreply@envato.com</a>
            </div>
          </li>
        </ul>
      </li>
      <!-- COLUMN 3 -->
      <li class="contacts__wrapper">
        <ul>
          <li class="contacts__item">
            <p class="contacts__item-title">Cafe</p>
            <p class="contacts__item-text">New York</p>
            <a
              href="https://www.google.pl/"
              target="_blank"
              class="contacts__links"
              rel="nofollow noopener noreferrer"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
          <li class="contacts__item">
            <div class="contacts__item-wrapper">
              <div>
                <p class="contacts__item-text">Monday - Friday</p>
                <p class="contacts__item-time"><time>06:00</time> AM - <time>10:00</time> PM</p>
              </div>
              <div>
                <p class="contacts__item-text">Saturday - Sunday</p>
                <p class="contacts__item-time"><time>08:00</time> AM - <time>16:00</time> PM</p>
              </div>
            </div>
          </li>
          <li class="contacts__item contacts__item--bottom">
            <div class="contacts__links contacts__links--bottom">
              <a href="tel:+610383766284" class="contacts__tel-email">+61(0) 383 766 284</a>
              <a href="mailto:noreply@envato.com" class="contacts__tel-email">noreply@envato.com</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!-- BUTTONS -->
    <div class="contacts__buttons">
      <button data-modal-open class="button-our-location" type="button">
        Our location
        <svg height="10" width="12">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg>
      </button>
      <button data-modal-open class="button-franchise" type="button">
        Franchise
        <svg height="10" width="12">
          <use href="./images/icons.svg#icon-arrow-button"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
