<section class="customer-reviews">
  <div class="container">
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">
        <img class="customer-reviews__photo" src="./images/first-review.jpg" alt="kobieta" />
        <p class="customer-reviews__opinion">
          I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
          addition, you have beautiful serving, cozy atmosphere and polite staff.
        </p>
        <p class="customer-reviews__user">Emily, Los Angeles</p>
      </li>
    </ul>
    <ul class="review-list">
      <li>
        <button class="review-list__item" type="button"></button>
      </li>
      <li><button class="review-list__item" type="button"></button></li>
      <li><button class="review-list__item" type="button"></button></li>
    </ul>
  </div>
</section>
