<section class="customer-reviews section">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="responsiveslides.min.js"></script>
  <container class="container">
    <ul class="rslides">
      <li>
        <figure class="customer-reviews__review">
          <img class="customer-reviews__photo" src="./images/first-review.jpg" alt="kobieta" />
          <p class="customer-reviews__opinion">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>
          <figcaption class="customer-reviews__user">Emily, Los Angeles</figcaption>
        </figure>
      </li>
      <li>
        <figure class="customer-reviews__review">
          <img class="customer-reviews__photo" src="./images/second-review.jpg" alt="mężczyzna" />
          <p class="customer-reviews__opinion">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>
          <figcaption class="customer-reviews__user">Bryan, New-York</figcaption>
        </figure>
      </li>
      <li>
        <figure class="customer-reviews__review">
          <img class="customer-reviews__photo" src="./images/third-review.jpg" alt="kobieta" />
          <p class="customer-reviews__opinion">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>
          <figcaption class="customer-reviews__user">Diana, Chicago</figcaption>
        </figure>
      </li>
    </ul>
  </container>
</section>
