<footer class="container footer">
  <div class="footer__wrapper">
    <div class="footer__title">
      <p class="footer__title-small">homemade ice cream made</p>
      <p class="footer__title-big">with passion</p>
    </div>
    <div class="footer__contact">
      <ul class="footer__icons">
        <li class="footer__icons-values">
          <a href="https://github.com/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="footer__icons-svg" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="footer__icons-values">
          <a href="https://telegram.org/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="footer__icons-svg" width="20.4" height="20.4">
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="footer__icons-values">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="footer__icons-svg" width="9.35" height="20.4">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>

      <div class="footer__links">
        <a href="tel:+61(0)383766284"
          ><span class="footer__links--black"> Feel free to contact</span
          ><span class="footer__links--white"> +61 (0) 383 766 284</span></a
        >
      </div>
    </div>
  </div>
  <div class="footer__copy">
    <span class="footer__copy-text">&copy; 2022 - IceCream.</span>
    <span class="footer__copy-text">All Rights Reserved.</span>
  </div>
</footer>
<div class="footer__line-relative"></div>
