<footer class="container space__section">
  <div class="footer__box__flex">
    <div class="footer__title__flex">
    <p class="title__small">homemade ice cream made</p>
    <p class="title__big">with passion</p>
    </div>
    <div class="footer__contact__box__flex">
      <ul class="icon-social__flex">
        <li class="icons">
          <a href="https://github.com/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="icon icon__gh" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="icons">
          <a href="https://telegram.org/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="icon icon__tg-fb" width="20.4" height="15.87">
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="icons">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener nofollow noreferrer">
            <svg class="icon icon__tg-fb" width="9.35" height="20.4">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>

      <div class="footer__contact">
        <a href="tel:+61(0)383766284"
          ><span class="contact__color-balck"> Feel free to contact</span
          ><span class="contact__color-white"> +61 (0) 383 766 284</span></a
        >
      </div>
    </div>
  </div>
  <div class="footer__copy__flex">
    <span class="footer__copy__text">&copy; 2022 - IceCream.</span>
    <span class="footer__copy__text">All Rights Reserved.</span>
  </div>
</footer>
<div class="line__relative"></div>
