<section class="gallery-section">
  <h2 class="gallery-section__title">Galeria</h2>
  <div class="container gallery-section__wrapper">
    <picture class="gallery-section__photo gallery-section__photo--first">
      <source
        srcset="./images/icecream-gallery-440w.png"
        media="(min-width: 480px) and (max-width: 767px)"
      />
      <source
        srcset="./images/icecream-gallery-704w.png"
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source srcset="./images/icecream-gallery-1013w.png" media="(min-width: 1200px)" />
      <img alt="Ice cream gallery" src="./images/icecream-gallery-280w.png" />
    </picture>
    <picture class="gallery-section__photo gallery-section__photo--second">
      <source
        srcset="./images/icecream-gallery-second-440w.png"
        media="(min-width: 480px) and (max-width: 767px)"
      />
      <source
        srcset="./images/icecream-gallery-second-704w.png"
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source srcset="./images/icecream-gallery-second-1013w.png" media="(min-width: 1200px)" />
      <img alt="Ice cream gallery" src="./images/icecream-gallery-second-280w.png" />
    </picture>
    <picture class="gallery-section__photo gallery-section__photo--third">
      <source
        srcset="./images/icecream-gallery-third-440w.png"
        media="(min-width: 480px) and (max-width: 767px)"
      />
      <source
        srcset="./images/icecream-gallery-third-704w.png"
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source srcset="./images/icecream-gallery-third-1013w.png" media="(min-width: 1200px)" />
      <img alt="Ice cream gallery" src="./images/icecream-gallery-third-280w.png" />
    </picture>
  </div>
</section>
