
<section class="header">
    <div class="container header__container">
        <svg class="header__logo" width="60" height="60">
            <use href="./images/icons.svg#icon-logo-hero"></use>
        </svg>
        <nav class="header__nav list">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="./index.html" target="_blank" rel="norefferer" class="header__nav-link link">Home</a>
                </li>
                <li class="header__nav-item">
                    <a href="./partials/about.html" target="_blank" rel="norefferer" class="header__nav-link link">How it's
                        made?</a>
                </li>
                <li class="header__nav-item">
                    <a href="./partials/products.html" target="_blank" rel="norefferer" class="header__nav-link link">Our
                        products</a>
                </li>
                <li class="header__nav-item">
                    <a href="./partials/contacts.html" target="_blank" rel="norefferer" class="header__nav-link link">Contact</a>
                </li>
            </ul>
        </nav>
        <!--button mobile -->
        <button class="header__menu-button button__mobil-menu js-open-modal" type="button" data-modal="2">
            <svg class="header__mobile-icon" width="32" height="32" aria-label="menu">

                <use class="header__icon-menu" href="./images/icons.svg#icon-menu"></use>
            </svg>
        <      </button>
        <button data-modal-open class="button-buy-now" type="button">Buy now <svg height="10px" width="6px">
                <use href="./images/icons.svg#icon-button-arrow"></use>
            </svg></button>
    </div>
</section>
<!----- HERO --->

<section class="hero">
    <div class="container">
        <div class="hero__description">
            <h1 class="hero__title">Ice cream made with passion</h1>
      

        <ul class="hero__points list">
            <li class="hero__points-list">
                <p class="hero__points-numbers">16</p>
                <p class="hero__points-names">cafes</p>
            </li>
            <li class="hero__points-list">
                <p class="hero__points-numbers">23</p>
                <p class="hero__points-names">food trucks</p>
            </li>
        </ul>
        </div>
    <ul class="hero__nav">
        <li>
            <button data-modal-open class="button-products" type="button">Products</button>
    
            </li>
            <li>
                <button data-modal-open class="button-how-its-made" type="button">How it's made?</button>
    
                </li>
    </ul>
        <div class="hero__middle">
            <img src="./images/hero-ice-balls-desktop-1x.png" alt="ice-balls" type="png" class="hero__img" />
            <source media="(min-width: 768px)" scret="
                            ./images/hero-ice-balls-tablet-1x.png 1x,
                            ./images/hero-ice-balls-tablet-2x.png 2x
                        " sizes="(min-width: 768px) 152px" />
            <source media="(min-width: 1200px)" srcset="
                            ./images/hero-ice-balls-desktop-1x.png 1x,
                            ./images/hero-ice-balls-desktop-2x.png 2x
                            " sizes="(min-width: 1200px) 225px" />
            <img src="./images/hero-ice-balls-desktop-1x.png" alt="ice-balls" type="png" class="hero__img" />
            <source media="(min-width: 768px)" scret="
                            ./images/hero-ice-balls-tablet-1x.png 1x,
                            ./images/hero-ice-balls-tablet-2x.png 2x
                        " sizes="(min-width: 768px) 152px" />
            <source media="(min-width: 1200px)" srcset="
                            ./images/hero-ice-balls-desktop-1x.png 1x,
                            ./images/hero-ice-balls-desktop-2x.png 2x" sizes="(min-width: 1200px) 225px" />
        </div>
        <div class="hero__depiction">
            <p class="hero__text">
                Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable
                experience!
            </p>
            <svg class="hero__arrow" width="40" height="16">
                <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
        </div>

        <div class="hero__picture">
            <img src="./images/hero-ice-cone-desktop-1x.png" alt="ice-in-cone" type="png" class="hero__img-cone" />
            <source media="(min-width: 320px)" srcset="
                            ./images/hero-ice-cone-mobile-1x.png 1x,
                            ./images/hero-ice-cone-mobile-2x.png 2x
                            " sizes="(min-width: 320px) 177px" />
            <source media="(min-width: 480px)" srcset="
                            ./images/hero-ice-cone-480-1x.png 1x,
                            ./images/hero-ice-cone-480-2x.png 2x
                            " sizes="(min-width: 480px) 218px" />
            <source media="(min-width: 768px)" scret="
                            ./images/hero-ice-cone-tablet-1x.png 1x,
                            ./images/hero-ice-cone-tablet-2x.png 2x
                        " sizes="(min-width: 768px) 268px" />
            <source media="(min-width: 1200px)" srcset="
                            ./images/hero-ice-cone-desktop-1x.png 1x,
                            ./images/hero-ice-cone-desktop-2x.png 2x
                        " sizes="(min-width: 1200px) 456px" />

        </div>
        <svg class="hero__arrow" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
        </svg>
    </div>

    <div class="hero__picture">
        <img src="./images/hero-ice-cone-desktop-1x.png" alt="ice-in-cone" type="png" class="hero__img-cone" />
        <source media="(min-width: 320px)" srcset="
                            ./images/hero-ice-cone-mobile-1x.png 1x,
                            ./images/hero-ice-cone-mobile-2x.png 2x
                            " sizes="(min-width: 320px) 177px" />
        <source media="(min-width: 480px)" srcset="
                            ./images/hero-ice-cone-480-1x.png 1x,
                            ./images/hero-ice-cone-480-2x.png 2x
                            " sizes="(min-width: 480px) 218px" />
        <source media="(min-width: 768px)" scret="
                            ./images/hero-ice-cone-tablet-1x.png 1x,
                            ./images/hero-ice-cone-tablet-2x.png 2x
                        " sizes="(min-width: 768px) 268px" />
        <source media="(min-width: 1200px)" srcset="
                            ./images/hero-ice-cone-desktop-1x.png 1x,
                            ./images/hero-ice-cone-desktop-2x.png 2x
                        " sizes="(min-width: 1200px) 456px" />

    </div>
    <!--
        <svg class="hero__dots-desktop" width="1200" height="383.456">
            <use href="./images/icons.svg#icon-hero-dots-desktop"></use>
        </svg>

        <svg class="hero__dots-tablet" width="768" height="67.795">
            <use href="./images/icons.svg#icon-hero-dots-tablet"></use>
        </svg>
        <svg class="hero__dots-480" width="330" height="52">
            <use href="./images/icons.svg#icon-hereo-dots-480"></use>

        </svg>
        <svg class="hero__dots-mobile" width="320" height="50">
            <use href="./images/icons.svg#icon-hero-dots-mobile"></use>
        </svg>

        -->

    </div>

</section>