<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="modal-header">
    <svg width="18.604px" height="37.143px">
      <use href="./images/icons.svg#icon-Vector-2"></use>
    </svg>
    <p class="modal-header__text">ce</p>
    <button class="modal-header__toggle js-close-menu">
      <svg width="32px" height="32px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-navigation">
    <a class="mobile-navigation__link" href="#home">Home</a>
    <a class="mobile-navigation__link" href="#how-its-made">How it's made</a>
    <a class="mobile-navigation__link" href="#products">Our products</a>
    <a class="mobile-navigation__link" href="#contact">Contact</a>
  </div>
  <div class="button-container">
    <button type="button" class="button-container__btn1">
      Buy now
      <svg class="button-container__icon" width="12px" height="12px">
        <use href="./images/icons.svg#icon-ep_arrow-right-bold-2"></use>
      </svg>
    </button>
  </div>
</div>
