<div class="backdrop is-hidden" data-modal>
  <div class="franchise-modal">
    <button class="franchise-modal__toggle" data-modal-close>
      <svg width="32px" height="32px">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="franchise-container">
      <h3 class="franchise-container__tittle">
        Thank you for your interest in owning on Ice Cream shop
      </h3>
      <p class="franchise-container__text">
        Due to the overwhelming volume of franchise requests we are not accepting new franchisee
        applications at this time. Once the application process resumes, we will contact you for
        further information. Please fill out the contact information below and we will reach out for
        additional information. We appreciate your patience.
      </p>
    </div>
    <form class="franchise-form">
      <input
        class="franchise-form__input"
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        required
      />
      <input
        class="franchise-form__input"
        type="number"
        name="tel"
        id="tel"
        placeholder="Phone"
        required
      />
      <input
        class="franchise-form__input"
        type="email"
        name="e-mail"
        id="e-mail"
        placeholder="E-mail"
        required
      />
      <textarea
        class="franchise-form__textarea"
        name="comment"
        id="comment"
        rows="8"
        placeholder="Comment"
      ></textarea>
    </form>
    <button type="button" class="franchise-modal__btn">Submit</button>
  </div>
</div>
