<section class="section-products">
  <div class="container">
    <div class="head-products">
      <p class="head-products__discription">100% NATURAL</p>
      <h2 class="head-products__name">PRODUCTS</h2>
    </div>
    <ul class="products">
      <li class="products__card products__card--green">
        <div class="ice-cream">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/ice_cream_desktop.png 1x, ./images/ice_cream_desktop@2x.png 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/ice_cream_mob_tab.png 1x, ./images/ice_cream_mob_tab@2x.png 2x"
            />
            <img
              class="ice-cream__img"
              src="./images/ice_cream_desktop.png"
              width="302"
              height="302"
              alt="ice_cream"
            />
          </picture>
        </div>
        <h3 class="products__name">ICE CREAM</h3>
        <div class="products__height">
          <p class="products__discription">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer
          </p>
          <div class="products__arrow">
            <svg width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="products__card products__card--yellow">
        <div class="ice-coffee">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/ice_coffee_desktop.png 1x, ./images/ice_coffee_desktop@2x.png 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/ice_coffee_mob_tab.png 1x, ./images/ice_coffee_mob_tablet@2x.png 2x"
            />
            <img
              class="ice-coffee__img"
              src="./images/ice_coffee_desktop.png"
              width="302"
              height="302"
              alt="ice_coffee"
            />
          </picture>
        </div>
        <h3 class="products__name">ICE COFFEE</h3>
        <div class="products__height">
          <p class="products__discription">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <div class="products__arrow">
            <svg width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </li>
      <li class="products__card products__card--red">
        <div class="milkshakes">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/milkshakes_desktop.png 1x, ./images/milkshakes_desktop@2x.png 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/milkshakes_mob_tab.png 1x, ./images/milkshakes_mob_tab@2x.png 2x"
            />
            <img
              class="milkshakes__img"
              src="./images/milkshakes_desktop.png"
              width="302"
              height="302"
              alt="milkshakes"
            />
          </picture>
        </div>
        <h3 class="products__name">MIKSHAKES</h3>
        <div class="products__height">
          <p class="products__discription">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <div class="products__arrow">
            <svg width="40" height="16">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
