<section class="section">
  <div class="container">
    <div class="head-products">
      <p class="head-products__discription">100% NATURAL</p>
      <h2 class="head-products__name">PRODUCTS</h2>
    </div>
    <ul class="products">
      <li class="products__card products--green">
        <figure class="ice-cream">
          <img
            class="products__img"
            src="./images/ice_cream_desktop.jpg"
            width="302"
            height="302"
            alt="ice-cream"
          />
        </figure>
        <figcaption>
          <h3 class="products__name">ICE CREAM</h3>
          <p class="products__discription">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
            stabilizer
          </p>
          <div class="products__arrow">
            <svg width="41px" height="16px">
              <use href="images/arrow.svg#icon-arrow"></use>
            </svg>
          </div>
        </figcaption>
      </li>
      <li class="products__card products--yellow">
        <figure>
          <img
            class="products__img"
            src="./images/ice_coffee_desktop.jpg"
            width="302"
            height="302"
            alt="ice_coffee"
          />
        </figure>
        <figcaption>
          <h3 class="products__name">ICE COFFEE</h3>
          <p class="products__discription">
            Fragrant invigorating drink created from 100% natural ingredients without the use of
            preservatives and flavor enhancers
          </p>
          <div class="products__arrow">
            <svg width="41px" height="16px">
              <use href="images/arrow.svg#icon-arrow"></use>
            </svg>
          </div>
        </figcaption>
      </li>
      <li class="products__card products--red">
        <figure>
          <img
            class="products__img"
            src="./images/milkshakes_desktop.jpg"
            width="302"
            height="302"
            alt="milkshakes"
          />
        </figure>
        <figcaption class="products__box">
          <h3 class="products__name">MIKSHAKES</h3>
          <p class="products__discription">
            Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and
            other sweets of your choice
          </p>
          <div class="products__arrow">
            <svg width="41px" height="16px">
              <use href="./images/arrow.svg#icon_arrow"></use>
            </svg>
          </div>
        </figcaption>
      </li>
    </ul>
  </div>
</section>
