<section class="section-products">
  <div class="container">
    <div class="head-products">
      <p class="head-products__discription">100% NATURAL</p>
      <h2 class="head-products__name">PRODUCTS</h2>
    </div>
    <ul class="products">
      <li class="products__card products__card--green">
        <figure class="ice-cream">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/ice_cream_desktop.jpg 1x, ./images/ice_cream_desktop@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/ice_cream_mob_tab.jpg 1x, ./images/ice_cream_mob_tab@2x.jpg 2x"
            />
            <img
              class="ice-cream__img"
              src="./images/ice_cream_desktop.jpg"
              width="302"
              height="302"
              alt="ice_cream"
            />
          </picture>
          <figcaption>
            <h3 class="products__name">ICE CREAM</h3>
            <p class="products__discription">
              Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
              stabilizer
            </p>
            <div class="products__arrow">
              <svg width="40" height="16">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </figcaption>
        </figure>
      </li>
      <li class="products__card products__card--yellow">
        <figure class="ice_coffee">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/ice_coffee_desktop.jpg 1x, ./images/ice_coffee_desktop@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/ice_coffee_mob_tab.jpg 1x, ./images/ice_coffee_mob_tablet@2x.jpg 2x"
            />
            <img
              class="ice_coffee__img"
              src="./images/ice_coffee_desktop.jpg"
              width="302"
              height="302"
              alt="ice_coffee"
            />
          </picture>
          <figcaption>
            <h3 class="products__name">ICE COFFEE</h3>
            <p class="products__discription">
              Fragrant invigorating drink created from 100% natural ingredients without the use of
              preservatives and flavor enhancers
            </p>
            <div class="products__arrow">
              <svg width="40" height="16">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </figcaption>
        </figure>
      </li>
      <li class="products__card products__card--red">
        <figure class="milkshakes">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/milkshakes_desktop.jpg 1x, ./images/milkshakes_desktop@2x.jpg 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="./images/milkshakes_mob_tab.jpg 1x, ./images/milkshakes_mob_tab@2x.jpg 2x"
            />
            <img
              class="milkshakes__img"
              src="./images/milkshakes_desktop.jpg"
              width="302"
              height="302"
              alt="milkshakes"
            />
          </picture>
          <figcaption class="products__box">
            <h3 class="products__name">MIKSHAKES</h3>
            <p class="products__discription">
              Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
              and other sweets of your choice
            </p>
            <div class="products__arrow">
              <svg width="40" height="16">
                <use href="./images/icons.svg#icon-arrow"></use>
              </svg>
            </div>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
