@use '../utils/variables' as *;
@use '../utils/mixins.scss' as *;

.button-products {
  font-family: Montserrat;
  width: 100%;
  width: 108px;
  height: 38px;
  font-size: 12px;
  border: 2px solid var(--tertiary-border-color);
  border-radius: 8px;
  background: none;
  padding: 11px 26px;
  color: #000;
  font-weight: 600;

  @include large {
    height: 42px;
    width: 134px;
    font-size: 14px;
    border-radius: 10px;
  }
  &:hover {
    border-color: var(--quaternary-border-color);
  }
  &:focus {
    border-color: var(--quaternary-border-color);
    color: var(--primary-modal-background-color);
  }
}

.button-products[disabled] {
  @extend .button-products;
  border-color: var(--senary-background-color);
  pointer-events: none;
  color: var(--secondary-icon-color);
}

.button-read-more {
  width: 100%;
  width: 164px;
  height: 38px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background: var(--tertiary-border-color);
  &:hover {
    background-color: var(--quaternary-border-color);
  }
  &:focus {
    background-color: var(--quaternary-border-color);
    color: var(--primary-modal-background-color);
    fill: var(--primary-modal-background-color);
  }
}

.button-read-more[disabled] {
  @extend .button-read-more;
  background-color: var(--senary-background-color);
  color: var(--secondary-icon-color);
  pointer-events: none;
}

.button-how-its-made {
  font-family: Montserrat;
  font-size: 12px;
  padding-block: 11px;
  font-weight: 600;
  border: none;
  background: none;
  text-decoration: underline;
  color: var(--tertiary-border-color);

  @include medium {
    width: 114px;
  }
  @include large {
    font-size: 14px;
    width: 154px;
    padding: 12px 21px 11px;
  }
  &:hover {
    color: var(--quaternary-border-color);
  }
  &:focus {
    color: var(--primary-modal-background-color);
  }
}

.button-how-its-made[disabled] {
  @extend .button-how-its-made;
  color: var(--senary-background-color);
  pointer-events: none;
}

.button-our-location {
  @extend .button-read-more;
  width: 196px;
}

.button-our-location[disabled] {
  @extend .button-our-location;
  background-color: var(--senary-background-color);
  color: var(--secondary-icon-color);
  pointer-events: none;
}

.button-franchise {
  @extend .button-products;
  width: 196px;
  font-size: 14px;
  margin-right: 0; /* przyciski dla mobile nie były w tej samej linii - sekcja contacts */
}

.button-franchise[disabled] {
  @extend .button-franchise;
  border-color: var(--senary-background-color);
  pointer-events: none;
  color: var(--secondary-icon-color);
}

.button-buy-now {
  @extend .button-read-more;
  width: 152px;
}

.button-buy-now[disabled] {
  @extend .button-buy-now;
  background-color: var(--senary-background-color);
  color: var(--secondary-icon-color);
  pointer-events: none;
}
