footer {
    background-color: var(--main-background-color);
    p {
        text-transform: uppercase;
    }
}
.icon-social__flex {
    display: flex;
    justify-content: flex-end;
}

.phone__number {
    text-align: right;
}

.line {
    width: 100%;
    color: var(--line-footer);
    border: solid 1px;
}