.gallery-section {
  &__title {
    display: none;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__photo {
    margin-top: -32px;
    position: absolute;
    & > img {
      border-radius: 8px;
    }
    @include medium {
      margin-top: -144px;
      & > img {
        border-radius: 18px;
      }
    }
    @include large {
      margin-top: -78px;
      & > img {
        border-radius: 28px;
      }
    }
  }
  &__photo--second {
    animation-name: hiddenImage2;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  &__photo--third {
    animation-name: hiddenImage3;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
}
@keyframes hiddenImage2 {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes hiddenImage3 {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
