.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;

    @include small {
      padding-top: 14px;
    }
    @include medium {
      padding-top: 20px;
    }
    @include large {
      padding-top: 18px;
    }
  }

  &__logo {
    width: 40px;
    height: 37px;
    fill: var(--primary-icon-color);

    @include small {
      width: 48px;
      height: 44px;
    }

    @include large {
      width: 60px;
      height: 65px;
    }
  }

  &__nav {
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    @include small {
      display: none;
    }

    @include medium {
      display: block;
    }

    @include large {
      display: flex;
    }
  }

  &__nav-list {
    display: none;
    align-items: center;
    flex-wrap: wrap;

    @include large {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__nav-item {
    display: inline;
    margin-right: 28px;
    font-weight: 700;
    font-size: 16px;
    line-height: normal;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    color: var(--primary-font-color);

    &:hover,
    &:focus {
      color: var(--septenary-font-color);
    }
  }

  &__menu-button {
    display: flex;
    width: 32px;
    height: 32px;
    font-weight: 600;
    align-items: center;
    border: none;
    padding: 0;
    fill: white;
    background: transparent;

    @include large {
      display: none;
    }
  }
}

.button-buy-now {
  display: none;

  @include medium {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 32px;
  }

  @include large {
    margin: 0;
  }
}

.hero {
  background-image: url(../images/hero-dots-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom;

  @include small {
    background-image: url(../images/hero-dots-480.png);
    background-position: bottom right;
    height: 349px;
  }

  @include medium {
    background-image: url(../images/hero-dots-tablet.png);
    background-position: bottom;
    padding-left: 12px;
    padding-right: 12px;
  }

  @include large {
    background-image: url(../images/hero-dots-desktop.png);
    background-position: bottom;
    height: 100%;
    padding-top: 45px;
  }

  &__container {
    @include medium {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include large {
      align-items: flex-start;
    }
  }

  &__left-side {
    @include medium {
      flex-direction: column;
      display: flex;
      width: 377px;

      @include large {
        width: 584px;
      }
    }
  }

  &__title {
    max-width: 247px;
    color: var(--primary-font-color);
    font-size: 26px;
    font-family: Seymour One;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 32px;

    @include small {
      margin-top: 40px;
    }

    @include medium {
      margin-top: 14px;
      margin-bottom: 24px;
    }

    @include large {
      max-width: 367px;
      font-size: 38px;
      margin-bottom: 28px;
      margin-top: 0;
    }

    &--bigger {
      font-size: 32px;
    }
  }

  &__buttons {
    display: flex;
    gap: 12px;
  }

  &__ice-balls {
    display: none;

    @include medium {
      display: contents;
      display: flex;
      padding-top: 12px;
      padding-bottom: 20px;
    }

    @include large {
      padding-top: 42px;
    }
  }
  &__picture {
    transition: transform 1s ease-in-out;
    &:hover {
      transform: rotate(360deg);
    }
  }
  &__ice-con {
    animation: heartBeat 2.5s infinite;
  }
  @keyframes heartBeat {
    from {
      transform: scale(1);
    }
    15% {
      transform: scale(1.15);
    }
    30% {
      transform: scale(1);
    }
    45% {
      transform: scale(1.15);
    }
    70% {
      transform: scale(1);
    }
  }
  &__text-middle {
    display: none;

    @include medium {
      display: contents;
      display: flex;
      flex-direction: column;
      padding-left: 32px;

      gap: 29px;
      padding-top: 27px;
    }

    @include large {
      padding-top: 67px;
      gap: 24px;
      padding-left: 16px;
    }
  }

  &__text {
    color: var(--primary-font-color);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    @include medium {
      font-size: 12px;
      width: 165px;
    }

    @include large {
      font-size: 14px;
      width: 200px;
    }
  }

  &__arrow {
    fill: var(--primary-font-color);
  }

  &__right-side {
    @include medium {
      display: flex;
      flex-direction: column-reverse;
    }

    @include large {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__points {
    display: none;

    @include medium {
      display: flex;
      flex-direction: column;
      text-align: right;
      font-family: Montserrat;
    }
  }

  &__points-numbers {
    color: black;
    font-style: normal;
    font-size: 28px;
    font-weight: 900;
    line-height: normal;
    margin-top: 20px;

    &:first-child {
      padding-top: 0;
    }

    @include large {
      font-size: 46px;
      letter-spacing: 1.84px;
      padding-top: 26px;
    }
  }

  &__points-names {
    color: var(--primary-font-color);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: right;
    padding-top: 4px;

    @include large {
      font-size: 14px;
    }
  }

  &__picture-wrapper {
    overflow: hidden;
    margin-left: 63px;

    @include small {
      float: right;
      margin-top: -93px;
    }

    @include medium {
      margin-top: -100px;
      float: right;
      padding-right: 50px;
    }

    @include large {
      margin-top: -197px;
    }
  }
}
