.menu-container {
  position: fixed;
  background-color: var(--quinary-border-color);
  inset: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.modal-header {
  display: flex;
  padding-left: 34.42px;
  padding-top: 12px;
  &__text {
    position: absolute;
    left: 50px;
    top: 30px;
    color: #84a178;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14.874px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.487px;
    text-shadow: -1px -1px 0 var(--primary-icon-color), 1px -1px 0 var(--primary-icon-color),
      -1px 1px 0 var(--primary-icon-color), 1px 1px 0 var(--primary-icon-color);
  }
  &__toggle {
    position: absolute;
    fill: var(--primary-modal-background-color);
    font-size: 32px;
    right: 20px;
    top: 16px;
    background-color: transparent;
    border: none;
  }
  &__toggle:hover > svg,
  &__toggle:focus > svg {
    cursor: pointer;
  }
}
.btn1 {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 152px;
  height: 42px;
  color: var(--secondary-icon-color);
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: var(--quaternary-background-color);
  border-radius: 10px;
  border: none;
  &__icon {
    margin-left: 4px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  align-items: center;
  gap: 32px;
  padding-bottom: 114px;
  @include large {
    gap: 40px;
  }
  &__link {
    color: var(--primary-font-color);
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-decoration: none;
    line-height: normal;
  }
  &__link:hover,
  &__link:focus {
    color: var(--secondary-icon-color);
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
}

.button-container {
  display: flex;
  justify-content: center;

  @include large {
    display: none;
  }
  &__btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 42px;
    color: var(--secondary-icon-color);
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--quaternary-background-color);
    border-radius: 10px;
    border: none;
  }
  &__icon {
    margin-left: 4px;
  }
}
