.is-hidden{
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  scale: 0;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:getShadow('third');
  display: flex;    
  transition-property: opacity, scale, visibility;
  transition-duration: 1s;
  z-index: 10;
}


.franchise-modal {
  padding: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 280px;
  max-height: 100%;
  border-radius: 10px;
  border: 2px solid var(--quaternary-background-color);
  background: var(--primary-modal-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s ease-in;
  text-align: center;
  @include large {
    max-width: 568px;
  }
  &__toggle {
    position: absolute;
    fill: var(--secondary-icon-color);
    font-size: 32px;
    right: 12px;
    top: 0;
    background-color: transparent;
    border: none;
  }
  &__toggle:hover > svg,
  &__toggle:focus > svg {
  }
  &__btn {
    width: 114px;
    height: 42px;
    border-radius: 10px;
    background: var(--quaternary-background-color);
    color: var(--secondary-icon-color);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
  }
  &__btn:hover,
  &__btn:focus {
    scale: 1.05;
    box-shadow: 1px  1px 3px #7caf55;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
  }
}
.franchise-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: left;
  align-items: center;

  &__tittle {
    color: var(--secondary-font-color);
    text-align: center;
    font-family: Seymour One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    @include large{
      padding: 0 95px;
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__text {
    color: var(--secondary-icon-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin-bottom: 24px;
    @include large{
      padding: 0 32px;
      font-size: 16px;
    }
  }
}

.franchise-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
  text-align: center;
  align-items: center;
  &__input {
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 224px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid #84a178;
    background: rgba(248, 210, 78, 0.1);
    color: var(--secondary-icon-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    @include large{
      width: 368px;
    }
  }
  &__textarea {
    padding-left: 12px;
    padding-top: 8px;
    width: 224px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid #84a178;
    background: rgba(248, 210, 78, 0.1);
    color: var(--secondary-font-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    @include large{
      width: 368px;
    }
  }
}

.placeholder {
  padding-left: 10px;
}
