.section {
  background: url(../images/bg_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include medium {
    background: url(../images/bg_tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include large {
      background: url(../images/bg_desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
.head-products {
  display: block;
  text-align: center;
}
.head-products__discription {
  color: #131313;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-top: 60px;
}
.head-products__name {
  color: #131313;
  font-size: 36px;
  font-family: 'Seymour One', sans-serif;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  padding-top: 12px;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  @include medium {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  @include large {
    display: flex;
    flex-direction: row;
    gap: 29px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
  }
}
.products__card {
  width: 280px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 168px;
  margin-bottom: 60px;
  @include medium {
    width: 224px;
    height: 548px;
    margin-top: 200px;
  }
  @include large {
    width: 370px;
    height: 536px;
  }
}
.products__img {
  display: inline;
  border-radius: 50%;
  padding-left: 40px;
  padding-right: 40px;
  @include large {
    margin-left: 25px;
    margin-right: 25px;
  }
}
.products--green {
  background-color: #aec6a5;
}
.products--yellow {
  background-color: #efd478;
}
.products--red {
  background-color: #d6936d;
}
.products__name {
  color: #131313;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-top: 66px;
  text-align: center;
}
.products__discription {
  color: #131313;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 176%;
  letter-spacing: 0.64px;
  display: flex;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  @include small {
    padding-top: 40px;
    padding-bottom: 61px;
    padding-left: 60px;
    padding-right: 60px;
  }
  @include medium {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 26px;
    padding-right: 26px;
  }
  @include large {
    padding-top: 66px;
    padding-bottom: 50px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.products__arrow {
  padding-bottom: 50px;
}
